<header class="header" id="inicio">
        <img class="hamburguer" src="/assets/img/hamburguesa.svg" alt="">
        <nav class="menu-navegacion"> 
                <a href="/">Inicio</a>
                <a href="/nosotros">Nuestra empresa</a>
                <a href="/productos">Productos</a>
                <a href="/especializados">Especializados</a>
                <a href="/contactos">Contacto</a>
        </nav>
        <div class="contenedor head">
            <div><img src="https://icons-for-free.com/iconfiles/png/512/linecolor+version+svg+birthday+cake-1319964496463731634.png" alt="Logo" class="Logo" width="25%"></div>
            <h1 class="titulo">Pasteleria Agape</h1>
            <p class="copy">Convertimos tus ideas en una realida</p>
        </div>
    </header>