<!DOCTYPE html>
<html lang="es">
<head>
    <link href="/assets/css/estilos.css" rel="stylesheet"> 
   <!--<link href='/assets/css/estilos2.css' rel='stylesheet'> -->
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {{{ body }}}
    <script src="/assets/js/menu.js"></script>
    <script src="/assets/js/lightbox.js"></script>
</body>
</html>
