<head>
<link href='/assets/css/estilos.css' rel='stylesheet'>
</head>
<header class="header" id="inicio">
        <img class="hamburguer" src="/assets/img/hamburguesa.svg" alt="">
        <nav class="menu-navegacion"> 
                <a href="/">Inicio</a>
                <a href="/nosotros">Nuestra empresa</a>
                <a href="/productos">Productos</a>
                <a href="/especializados">Especializados</a>
                <a href="/contactos">Contacto</a>
        </nav>
        <div class="contenedor head">
            <div><img src="https://icons-for-free.com/iconfiles/png/512/linecolor+version+svg+birthday+cake-1319964496463731634.png" alt="Logo" class="Logo" width="25%"></div>
            <h1 class="titulo">Pasteleria Agape</h1>
            <p class="copy">Convertimos tus ideas en una realida</p>
        </div>
    </header>
<section class="contenedor" id="expertos">
            <h2 class="subtitulo">Expertos en:</h2>
            <section class="experts">
                <div class="cont-expert">
                    <img src="/assets/img/pie_chart.svg" alt="">
                    <h3 class="n-expert">Diseño</h3>
                </div>
                <div class="cont-expert">
                    <img src="/assets/img/search_engine.svg" alt="">
                    <h3 class="n-expert">Eficiencia</h3>
                </div>
                <div class="cont-expert">
                    <img src="/assets/img/security.svg" alt="">
                    <h3 class="n-expert">Seguridad y responsabilidad</h3>
                </div>
</section>
<br>
<div>
    <h1 class="subtitulo">Prueba nuestros productos!!</h1>
</div>
<div>
    <video poster="" controls>
        <source src="/assets/img/pasteleria_video.mp4" type="video/mp4">
    </video>
</div>
