<head>
    <link href='/assets/css/estilos2.css' rel='stylesheet'>
</head>

<body>
    <ul>
        <li><a href="#cakes">Cakes</a></li>
        <li><a href="#">donuts</a></li>
        <li><a href="#">breakfast</a></li>
        <li><a href="#">icecream</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Drinks</a>
            <div class="dropdown-content">
              <a href="#">coffe</a>
              <a href="#">Tea</a>
              <a href="#">Juice</a>
            </div>

        <li style="float:right"><a class="active" href="#about">contacto</a>
      </ul>

      <div class="contenedor head">
        <h1 class="titulo">Menu</h1>
        <p class="copy">Convertimos tus ideas en una realida</p>
    </div>
</header>

<br>
<br>
<br>

<main>
    <section class="services contenedor" id="servicio">
        <h2 id="cakes">Cakes</h2>
        <div class="contenedor-servicio">

    <img src="https://images.unsplash.com/photo-1571115177098-24ec42ed204d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80" alt="" class="AA">
    <img src="https://images.unsplash.com/photo-1602351447937-745cb720612f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80" alt="" class="AA">
    <img src="https://images.unsplash.com/photo-1535141192574-5d4897c12636?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=335&q=80" alt="" class="AA">
    <img src="https://images.unsplash.com/photo-1488477304112-4944851de03d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80" alt="" class="AA">
    <img src="https://images.unsplash.com/photo-1512223792601-592a9809eed4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=304&q=80" alt="" class="AA">
    <img src="https://images.unsplash.com/photo-1517400415121-f913b6f87532?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80" alt="" class="AA">
    <img src="https://images.unsplash.com/photo-1557925923-cd4648e211a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1533&q=80" alt="" class="AA">
    <img src="https://images.unsplash.com/photo-1519915028121-7d3463d20b13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80" alt="" class="AA">
</div>
</section>
</body>
<footer id="footer">
        <div class="contenedor footer-content">
                <div class="contact-us">
                    <h2 class="brand">Paulette Cruz</h2>
                    <p>Somos expertos en la creación de tus sueños</p>
                </div>
                <div class="social-media">
                    <a href="/assets/img/bxl-facebook.svg" class="social-media-icon">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="/assets/img/bxl-twitter.svg" class="social-media-icon">
                        <i class='bx bxl-twitter' ></i>
                    </a>
                    <a href="/assets/img/bxl-instagram.svg" class="social-media-icon">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </div>
        </div>
        <div class="line"></div>
    </footer>