<header class="header" id="inicio">
        <img class="hamburguer" src="/assets/img/hamburguesa.svg" alt="">
        <nav class="menu-navegacion"> 
                <a href="/">Inicio</a>
                <a href="/nosotros">Nuestra empresa</a>
                <a href="/productos">Productos</a>
                <a href="/especializados">Especializados</a>
                <a href="/contactos">Contacto</a>
        </nav>
        <div class="contenedor head">
            <div><img src="https://icons-for-free.com/iconfiles/png/512/linecolor+version+svg+birthday+cake-1319964496463731634.png" alt="Logo" class="Logo" width="25%"></div>
            <h1 class="titulo">Pasteleria Agape</h1>
            <p class="copy">Convertimos tus ideas en una realida</p>
        </div>
    </header>
<section class="services contenedor" id="servicio">
            <h2 class="subtitulo">Nuestra tienda</h2>
            <div class="contenedor-servicio">
                <img src="/assets/img/checklist.svg" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>Mision</h3>
                        <p> Crear productos de la mejor calidad, frescos y desde cero de acuerdo a la vision de nuestros clientes.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span>Vision</h3>
                        <p> Continuamente innovar en productos de calidad. Ser la mejor empresa especializados en la creacion de productos personalizados.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span>Valores</h3>
                        <p> Adaptacion al cliente, innovacion, responsabilidad y calidad.</p>
                    </div>
                </div>
            </div>
                    <div class="audio">
                        <h1 class="subtitulo1">Esta esperando una orden? no hay problema, tenemos musica de espera!!</h1>
                        <audio src="/assets/img/Beethoven - Für Elise (Piano Version) (NUEVOEXITO.ORG).mp3" controls="" loop=""></audio>
                    </div>
        </section>
        <footer id="footer">
        <div class="contenedor footer-content">
                <div class="contact-us">
                    <h2 class="brand">Paulette Cruz</h2>
                    <p>Somos expertos en la creación de tus sueños</p>
                </div>
                <div class="social-media">
                    <a href="/assets/img/bxl-facebook.svg" class="social-media-icon">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="/assets/img/bxl-twitter.svg" class="social-media-icon">
                        <i class='bx bxl-twitter' ></i>
                    </a>
                    <a href="/assets/img/bxl-instagram.svg" class="social-media-icon">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </div>
        </div>
        <div class="line"></div>
    </footer>