<head>
<link href='/assets/css/estilos.css' rel='stylesheet'>
</head>
<header class="header" id="inicio">
        <img class="hamburguer" src="/assets/img/hamburguesa.svg" alt="">
        <nav class="menu-navegacion"> 
                <a href="/">Inicio</a>
                <a href="/nosotros">Nuestra empresa</a>
                <a href="/productos">Productos</a>
                <a href="/especializados">Especializados</a>
                <a href="/contactos">Contacto</a>
        </nav>
        <div class="contenedor head">
            <div><img src="https://icons-for-free.com/iconfiles/png/512/linecolor+version+svg+birthday+cake-1319964496463731634.png" alt="Logo" class="Logo" width="25%"></div>
            <h1 class="titulo">Pasteleria Agape</h1>
            <p class="copy">Convertimos tus ideas en una realida</p>
        </div>
    </header>
        <section class="gallery" id="galeria">
            <div class="contenedor">
                <h2 class="subtitulo">Productos</h2>
                <div class="contenedor-galeria">
                    <div class="gallery">
                        <img src="/assets/img/cake.jpg" class="img-galeria" alt=""> <div class="desc"><a href="/menu" target="_blank">Cakes</a></div>
                    </div>

                    <div class="gallery">
                        <img src="/assets/img/donut.jpg" class="img-galeria" alt=""><div class="desc"><a href="/menu" target="_blank">Donuts</a></div>
                    </div>

                    <div class="gallery">
                        <img src="/assets/img/cafe.jpg" class="img-galeria" alt=""><div class="desc"><a href="/menu" target="_blank">Coffe</a></div>
                    </div>

                    <div class="gallery">
                        <img src="/assets/img/pc.jpg" class="img-galeria" alt=""><div class="desc"><a href="/menu" target="_blank">Breakfast</a></div>
                    </div>

                    <div class="gallery">
                        <img src="/assets/img/icee.jpg" class="img-galeria" alt=""><div class="desc"><a href="/menu" target="_blank">Icecream</a></div>
                    </div>
                </div>

            </div>
        </section>
        <footer id="footer">
        <div class="contenedor footer-content">
                <div class="contact-us">
                    <h2 class="brand">Paulette Cruz</h2>
                    <p>Somos expertos en la creación de tus sueños</p>
                </div>
                <div class="social-media">
                    <a href="/assets/img/bxl-facebook.svg" class="social-media-icon">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="/assets/img/bxl-twitter.svg" class="social-media-icon">
                        <i class='bx bxl-twitter' ></i>
                    </a>
                    <a href="/assets/img/bxl-instagram.svg" class="social-media-icon">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </div>
                
        </div>
        <div class="line"></div>
    </footer>